*{
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
}

.dashboard{
    min-height: 555px;
    margin-top: -20px;
    margin-bottom: -45px;
    
  
}

.recipesIngr{
    max-width: 250px;
    text-align: justify;
}

.RecipesList a{
    padding: 4px;
    color: white;
    background: #577FAC;
    border-radius: 7px;
    margin-left: 24px;
}


.RecipesList li{
    background-color: unset;
    border-radius: 16px;
    margin-left: 50px;
    margin-right: 50px;
    color: #577FAC;
    list-style: none;
    border: 3px solid #577FAC;
    text-align: center;
    
    
}

.recipeShortInfo{
    text-align: center;
    color: #577FAC;
    max-height: 450px;
    
}

.recipeImg{
    max-width: 200px;
    height: 200px;
    margin-left: -1px;
    border-radius: 39px;
}

.dashboard-title{
    color: #577FAC;
    text-align: center;
    font-family: monospace;
    padding-top: 10px;
}

.RecipesList{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;

}



.our-team-main {
    width: 48%;
    height: auto;
    border-bottom: 5px #323233 solid;
    background: transparent;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: 0.5s;
    margin-bottom: 28px;
    color: black;
  }
  
  .our-team-main img {
    border-radius: 10px;
    margin-bottom: 20px;
    width: 40%;
    height: 100%;
    box-shadow: 0 0 0.2rem 0 rgba(68, 68, 68, 0.2);
  }
  
  .our-team-main h3 {
    font-size: 20px;
    font-weight: 700;
  }
  
  .our-team-main p {
    margin-bottom: 0;
  }
  
  .team-back {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 15px 0 15px;
    text-align: left;
    background: white;
    color: black;
  }
  
  .team-front {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 10;
    background: rgba(255, 255, 255, 1);
    padding: 15px;
    bottom: 0px;
    transition: all 0.5s ease;
  }

  .team-front img{
    max-width: 270px;
    max-height: 180px;
  }
  
  .our-team-main:hover .team-front {
    bottom: -250px;
    transition: all 0.5s ease;
  }
  
  .our-team-main:hover {
    border-color: #777;
    transition: 0.5s;
  }
  
  .back-side-info {
    display: inline-block;
    width: 50%;
  }
  
  .back-side-info a {
    color: black;
    font-weight: bold;
  }
  
  .back-side-info a:hover {
    text-decoration: underline;
  }
  
  nav a:hover {
    color: white;
  }
  
  img.foodImage {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
  }