*{
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
}

.dashboard{
    min-height: 555px;
    margin-top: -20px;
    margin-bottom: -45px;
    
  
}

.recipesIngr{
    max-width: 250px;
    text-align: justify;
}

.RecipesList a{
    padding: 4px;
    color: white;
    background: #577FAC;
    border-radius: 7px;
    margin-left: 24px;
}


.RecipesList li{
    background-color: unset;
    border-radius: 16px;
    margin-left: 50px;
    margin-right: 50px;
    color: white;
    list-style: none;
    border: 3px solid #577FAC;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    
}

.recipeShortInfo{
    text-align: center;
    color: #577FAC;
    max-height: 450px;
    
}

.recipeImg{
    max-width: 200px;
    height: 200px;
    margin-left: -1px;
    border-radius: 39px;
}

.dashboard-title{
    color: #577FAC;
    text-align: center;
    font-family: monospace;
    padding-top: 10px;
}

.RecipesList{
    display: flex;
    justify-content: space-evenly;

}