
.nav-logo{
    display: flex;
    align-items: center;
    margin-top: -22px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul{
    display: flex;
    list-style: none;
    
}


.navbar ul li{
    margin: 0 1px;
    background: lightgray;
    padding: 33px;
}

.navbar ul li a{
    text-decoration: none;
    color: #40494D;
    font-size: 20px;
}



body > header > nav > ul > li.orange > a{
    color: white;
    font-size: 20px;
}

.nav-title{
    font-size: 40px;
    margin-right: 40px;
}

.nav-title::after{
    content: '';
    background-color: gray;
    height: 55px;
    width: 1px;
    position: relative;
    display: inline-flex;
    left: 6%;
    top: 12px;

}

.nav-subtitle{
    color: gray;
    margin-top: 14px;
}