.register{
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    height: 438px;
    color: white;
    padding-top: 115px;
}

.regBackground{
    height: 565px;
    margin-top: -60px;
    margin-bottom: -60px;
}


.confirmPassLabel{
    margin-left: -70px;
}

.emailInput{
    margin-left: 40px;
}

.field label{
    margin-right: 13px;
}

.register input{
    border-radius: 9px;
    padding: 5px;
}

.regBtn{
    background: #577FAC;
    color: white;
}