.login{
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    height: 438px;
    color: white;
    padding-top: 115px;
    
}

.logBackground{
    height: 565px;
    margin-top: -60px;
    margin-bottom: -60px;
}

.field label{
    margin-right: 13px;
}

.login input{
    border-radius: 9px;
    padding: 5px;
    
}

.logBtn{
    background: #577FAC;
    color: white;
    margin-bottom: 10px;
}